{% extends 'base.html' %}
{% block title %}Index {% endblock %}
{% block content %}
    <style>
    #map {height: 100vh;
    overflow: auto;}
    </style>
        <div class="col py-3" id="map">

        </div>




    <script>

        window.onload = function(){
            var socket = io();
            socket.on('connect', function() {
                console.log("I'm connected");
                socket.emit('update_subscribe', {data: "I have connected"})
            });
            let ships = {}
            let polygons = Array();
            let polygons_hidden = false;
            var counter = 1;


            socket.on('ship_ping_update', function(data){
                let sig = data['sig'];
                data = data['data'];
                console.log(data);
                console.log(sig);

                create_ship(data);
            })

            socket.on('self_ping_update', function(data){
                console.log("HELLO")
                data = data['data'];
            selfboatcircle.setLatLng([data['lat'], data['lon']]);
            selfboatping.setLatLng([data['lat'], data['lon']]);
            })
            var map = L.map('map').setView([{{lat}}, {{lon}}], 15);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var selfboatping = L.marker([{{ lat }}, {{ lon }}]);
        selfboatping.addTo(map).bindPopup('HMS-TotallyReal');

        var selfboatcircle = L.circle([{{ lat }}, {{ lon }}],{
            color: 'white',
            fillColor: '#ffff',
            fillOpacity: 0.2,
            radius: 200
        }).addTo(map);


            function showhide_polygons() {
              polygons.forEach(function(value, index){
                  if (polygons_hidden == false){
                      map.removeLayer(value);
                  } else {
                      map.addLayer(value);
                  };
              })
                polygons_hidden = !polygons_hidden;
            };

        function draw_journey(data, latlangs){
{#            {% if show_lines %}#}
{#            var draw_polygons = true;#}
{#            {% else %}#}
{#            var draw_polygons = false;#}
{#            {% endif %}#}
{#            if (draw_polygons) {#}

                if (data['authed'] == true) {
                    var polyline = L.polyline(latlangs, {color: 'green', opacity: 0.3, fillOpacity: 0.5}).addTo(map);
                    polygons.push(polyline);
                    console.log(polygons);
                } else if (data['authed'] == false) {
                    var polyline = L.polyline(latlangs, {color: 'red', opacity: 0.3, fillOpacity: 0.5}).addTo(map);
                    polygons.push(polyline);
                } else if (data['authed'] == "sig-attatched") {
                    var polyline = L.polyline(latlangs, {color: 'yellow', opacity: 0.3, fillOpacity: 0.5}).addTo(map);
                    polygons.push(polyline);
                }

        }

        function update_ship(data){
            var latlangs = Array();
            let e = ships[data['mmsi']];
            latlangs.push(e.getLatLng());
            map.removeLayer(e);

            e.setLatLng([data['lat'], data['lon']]);
            latlangs.push(e.getLatLng());
            ships[data['mmsi']] = e;
            {% if show_lines %}
            draw_journey(data, latlangs)
            {% endif %}
        }

        function create_ship(data){

                var ship_exists = ships[data['mmsi']] === undefined;
                console.log(ship_exists)
                console.log(ships[data['mmsi']])

                if (ship_exists == false) {
                    update_ship(data);
                }


                if (data['authed'] == 1){
                    var ship_new = L.circle([data['lat'], data['lon']],{
                        color:'green',
                        fillColor: '00ff00',
                        fillOpacity: 0.2,
                        radius:200
                        });
                    ship_new.addTo(map).bindPopup('MMSI:' + data['mmsi'] + '<br>COURSE: ' + data['course'] + '<br>TYPE:' + data['type']);
                    ships[data['mmsi']] = ship_new;
                } else if (data['authed'] == 0) {
                    {% if show_authorised_ships_only %}
                    var show_auth_only = true;
                    {% else %}
                    var show_auth_only = false;
                    {% endif %}
                    if (show_auth_only == false) {
                        var ship_new = L.circle([data['lat'], data['lon']],{
                            color:'red',
                            fillColor: '00ff00',
                            fillOpacity: 0.2,
                            radius:200
                        });
                    ship_new.addTo(map).bindPopup('MMSI:' + data['mmsi'] + '<br>COURSE: ' + data['course'] + '<br>TYPE:' + data['type']);
                    ships[data['mmsi']] = ship_new;
                    } else {
                        console.log("Non-Authed Ships Hidden")
                    }
                } else if (data['authed'] == 2) {
                    var ship_new = L.circle([data['lat'], data['lon']],{
                    color:'yellow',
                    fillColor: '00ff00',
                    fillOpacity: 0.2,
                    radius:200
                    });
                    ship_new.addTo(map).bindPopup('MMSI:' + data['mmsi'] + '<br>COURSE: ' + data['course'] + '<br>TYPE:' + data['type'] + '');
                    ships[data['mmsi']] = ship_new;

                };
        }

            {% for ship in ships %}
                create_ship({{ ship['data']|tojson }})
            {% endfor %}


        setTimeout(function(){
            map.invalidateSize();
        }, 0)
        }


    </script>

{% endblock %}