{# <div class="row p-2 bg-white border rounded">#}
{#                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>#}
{#                <div class="col-md-6 mt-1">#}
{#                    <h5>Quant olap shirts</h5>#}
{#                    <div class="d-flex flex-row">#}
{#                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>#}
{#                    </div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>#}
{#                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>#}
{#                </div>#}
{#                <div class="align-items-center align-content-center col-md-3 border-left mt-1">#}
{#                    <div class="d-flex flex-row align-items-center">#}
{#                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>#}
{#                    </div>#}
{#                    <h6 class="text-success">Free shipping</h6>#}
{#                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row p-2 bg-white border rounded mt-2">#}
{#                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/JvPeqEF.jpg"></div>#}
{#                <div class="col-md-6 mt-1">#}
{#                    <h5>Quant trident shirts</h5>#}
{#                    <div class="d-flex flex-row">#}
{#                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>#}
{#                    </div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>#}
{#                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>#}
{#                </div>#}
{#                <div class="align-items-center align-content-center col-md-3 border-left mt-1">#}
{#                    <div class="d-flex flex-row align-items-center">#}
{#                        <h4 class="mr-1">$14.99</h4><span class="strike-text">$20.99</span>#}
{#                    </div>#}
{#                    <h6 class="text-success">Free shipping</h6>#}
{#                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row p-2 bg-white border rounded mt-2">#}
{#                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/Bf4dIaN.jpg"></div>#}
{#                <div class="col-md-6 mt-1">#}
{#                    <h5>Quant ruybi shirts</h5>#}
{#                    <div class="d-flex flex-row">#}
{#                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>#}
{#                    </div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>#}
{#                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>#}
{#                </div>#}
{#                <div class="align-items-center align-content-center col-md-3 border-left mt-1">#}
{#                    <div class="d-flex flex-row align-items-center">#}
{#                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>#}
{#                    </div>#}
{#                    <h6 class="text-success">Free shipping</h6>#}
{#                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row p-2 bg-white border rounded mt-2">#}
{#                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/HO8e9b8.jpg"></div>#}
{#                <div class="col-md-6 mt-1">#}
{#                    <h5>Quant tinor shirts</h5>#}
{#                    <div class="d-flex flex-row">#}
{#                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>110</span>#}
{#                    </div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>#}
{#                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>#}
{#                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>#}
{#                </div>#}
{#                <div class="align-items-center align-content-center col-md-3 border-left mt-1">#}
{#                    <div class="d-flex flex-row align-items-center">#}
{#                        <h4 class="mr-1">$15.99</h4><span class="strike-text">$21.99</span>#}
{#                    </div>#}
{#                    <h6 class="text-success">Free shipping</h6>#}
{#                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>#}
{#                </div>#}

{#<div class="container-fluid"><div class="container mt-5 mb-5">#}
{#    <div class="d-flex justify-content-center row">#}
{#        <div class="col-md-10">#}
{#<div class="container mt-5 mb-5">#}
{#    <div class="row d-flex justify-content-center">#}
{#        <div class="col-md-10">#}
{#            <div class="card">#}
{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="images p-3">#}
{#                            <div class="text-center p-4"> <div id="map"></div> </div>#}
{#                            <div class="thumbnail text-center"> <img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70"> <img onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70"> </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="product p-4">#}
{#                            <div class="d-flex justify-content-between align-items-center">#}
{#                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>#}
{#                            </div>#}
{#                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Orianz</span>#}
{#                                <h5 class="text-uppercase">Men's slim fit t-shirt</h5>#}
{#                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">$20</span>#}
{#                                    <div class="ml-2"> <small class="dis-price">$59</small> <span>40% OFF</span> </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="about">Shop from a wide range of t-shirt from orianz. Pefect for your everyday use, you could pair it with a stylish pair of jeans or trousers complete the look.</p>#}
{#                            <div class="sizes mt-5">#}
{#                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>#}
{#                            </div>#}
{#                            <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</div>#}